<%= form_for(@project_checklist_step) do |f| %>
  <% if @project_checklist_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_checklist_step.errors.count, "error") %> prohibited this project_checklist_step from being saved:</h2>

      <ul>
      <% @project_checklist_step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :done %><br />
    <%= f.check_box :done %>
  </div>
  <div class="field">
    <%= f.label :sectionTypeIdentifier %><br />
    <%= f.text_field :sectionTypeIdentifier %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :stepNumber %><br />
    <%= f.number_field :stepNumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
