<p id="notice"><%= notice %></p>

<p>
  <b>Rownumber:</b>
  <%= @revenue.rowNumber %>
</p>

<p>
  <b>Rowname:</b>
  <%= @revenue.rowName %>
</p>

<p>
  <b>Project:</b>
  <%= @revenue.project_id %>
</p>

<p>
  <b>February:</b>
  <%= @revenue.february %>
</p>

<p>
  <b>March:</b>
  <%= @revenue.march %>
</p>

<p>
  <b>April:</b>
  <%= @revenue.april %>
</p>

<p>
  <b>May:</b>
  <%= @revenue.may %>
</p>

<p>
  <b>June:</b>
  <%= @revenue.june %>
</p>

<p>
  <b>July:</b>
  <%= @revenue.july %>
</p>

<p>
  <b>August:</b>
  <%= @revenue.august %>
</p>

<p>
  <b>September:</b>
  <%= @revenue.september %>
</p>

<p>
  <b>October:</b>
  <%= @revenue.october %>
</p>

<p>
  <b>November:</b>
  <%= @revenue.november %>
</p>

<p>
  <b>December:</b>
  <%= @revenue.december %>
</p>

<p>
  <b>Year:</b>
  <%= @revenue.year %>
</p>


<%= link_to 'Edit', edit_revenue_path(@revenue) %> |
<%= link_to 'Back', revenues_path %>
