<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @card.title %>
</p>

<p>
  <b>Board:</b>
  <%= @card.board %>
</p>

<p>
  <b>Project:</b>
  <%= @card.project_id %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
