<p id="notice"><%= notice %></p>

<p>
  <b>April:</b>
  <%= @expense.april %>
</p>

<p>
  <b>August:</b>
  <%= @expense.august %>
</p>

<p>
  <b>December:</b>
  <%= @expense.december %>
</p>

<p>
  <b>January:</b>
  <%= @expense.january %>
</p>

<p>
  <b>February:</b>
  <%= @expense.february %>
</p>

<p>
  <b>July:</b>
  <%= @expense.july %>
</p>

<p>
  <b>June:</b>
  <%= @expense.june %>
</p>

<p>
  <b>March:</b>
  <%= @expense.march %>
</p>

<p>
  <b>May:</b>
  <%= @expense.may %>
</p>

<p>
  <b>November:</b>
  <%= @expense.november %>
</p>

<p>
  <b>October:</b>
  <%= @expense.october %>
</p>

<p>
  <b>Project:</b>
  <%= @expense.project_id %>
</p>

<p>
  <b>Rowname:</b>
  <%= @expense.rowName %>
</p>

<p>
  <b>Rownumber:</b>
  <%= @expense.rowNumber %>
</p>

<p>
  <b>September:</b>
  <%= @expense.september %>
</p>

<p>
  <b>Year:</b>
  <%= @expense.year %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
