<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
  <!--<title>Startupality</title>-->
  <!--<%= stylesheet_link_tag    "application" %>-->
  <!--<%= javascript_include_tag "http://use.typekit.com/dpo4vyi.js" %>-->
  <!--<%= csrf_meta_tags %>-->
<!--</head>-->
<!--<body>-->

<!--<div id="content">-->

	<!--<div class="container userManagement">-->
        <!--<br />-->
        <!--<img src="/assets/logoNarrow.png" style="width:250px">-->
        <!--<br /><br />-->

        <!--<%= yield %>-->
	<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Startupality: Turn your side project into a succcesful company or improve your existing startup by using business model canvas, customer development and lean startup methodology</title>
    <meta property="og:title" content="Startupality - Lean Startup Management" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="Startupality - Lean Startup Management" />
    <meta property="og:description" content="A collaborative management tool which helps startups get from idea to success by learning from customers, measuring progress and iteratively building the solution. Turn your side project into a succcesful company or improve your existing startup by using the empiric process.*Inspired by customer development and lean startup methodologies." />
    <meta name="description" content="A collaborative management tool which helps startups get from idea to success by learning from customers, measuring progress and iteratively building the solution. Turn your side project into a succcesful company or improve your existing startup by using the empiric process.*Inspired by customer development and lean startup methodologies.">
    <meta property="og:url" content="www.startupality.com" />
    <meta property="og:image" content="https://launchrock-assets.s3.amazonaws.com/facebook-files/4ASQ76QR_1360321652628.png?_=0" />
    <meta charset="utf-8">
    <meta name="keywords" content="lean startup, customer development, lean startup tool, lean startup management, startup management, startup, eric ries, steve blank, mvp, validated learning, startup methodology, business model, business model canvas, business model innovation, business model validation, hypothesis testing">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    "landingpage" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->

    <link rel="shortcut icon" href="/assets/favicon.ico">

    <!-- Web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>

<body>

<div id="preloader"></div>

<header class="animatedHeader transparent">

    <div id="logo-wrapper">
        <a href="#" class="logo"><img src="/assets/logoWideBlue.png"></a>
    </div>

    <div class="span3 pull-right header-cta">
        <a href="#signup-form" class="modal-form signup btn transparent pull-right">Sign up</a>
        <a href="#login-form" class="modal-form login btn transparent pull-right">Login</a>
    </div>

    <nav id="main" class="span9">
        <ul>
            <li class="current hidden-tablet"><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <!--<li><a href="#pricing">Pricing</a></li>-->
            <li><a href="#footer-cta">Contact</a></li>
        </ul>

    </nav>

</header>

<section id="home" class="text-center">

    <!-- background icons -->
    <span aria-hidden="true" class="icon-group dark first animated fadeInLeftBig"></span>
    <span aria-hidden="true" class="icon-cloud-3 light second animated fadeInLeftBig"></span>
    <span aria-hidden="true" class="icon-bulb dark third animated fadeInLeftBig"></span>
    <span aria-hidden="true" class="icon-bubble light fourth animated fadeInLeftBig"></span>
    <span aria-hidden="true" class="icon-calendar-5 dark fifth animated fadeInLeftBig"></span>
    <span aria-hidden="true" class="icon-beaker light sixth animated fadeInRightBig"></span>
    <span aria-hidden="true" class="icon-lock-2 dark seventh animated fadeInRightBig"></span>
    <span aria-hidden="true" class="icon-mail light eighth animated fadeInRightBig"></span>
    <span aria-hidden="true" class="icon-wrench dark ninth animated fadeInRightBig"></span>
    <span aria-hidden="true" class="icon-data light tenth animated fadeInRightBig"></span>
        <!--<span aria-hidden="true" class="icon-check dark seventh animated fadeInRightBig"></span>-->


    <div class="container">
        <div class="row">
            <div class="span 12 hero-content">

                <form id="nl-form" class="nl-form">
                    <h1>

                        We help you

                        <select id="option-1">
                            <option value="1" selected>develop</option>
                            <!--<option value="2">launch</option>-->
                            <!--<option value="3">plan</option>-->
                            <option value="2">organize</option>
                            <!--<option value="5">analyze</option>-->
                        </select>

                        your

                        <select id="option-2">
                            <option value="1" selected>startup</option>
                            <option value="2">project</option>
                        </select>.


                    </h1>
                </form>

                <a href="#about" class="btn btn-large cta scroll">Show me how</a>

            </div>

            <div class="span12 featured-image">
                <ul class="featuredSlider">
                    <li><img src="/assets/startupality-ipad2.png" id="fi-1" class="slideUp" alt="" /></li>
                    <li><img src="/assets/startupality-mac.png" id="fi-2" class="slideUp" alt="" /></li>
                    <!--<li><img src="/assets/featured-maciphone.png" id="fi-3" class="slideUp" alt="" /></li>-->
                </ul>

            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">

            <div class="span12">
                <h1><span class="colorHighlight1">Startupality</span> is a <span class="underline">beautiful</span> app which helps you turn your idea or project into a successful company.</h1>
            </div>
            <div class="row">

            <div class="feature span6">
                <div><img src="/assets/icon-clipboard.png" alt="" /></div>
                <h3>Use founder's checklist</h3>
                <p>Plan and validate your business idea better. Use the wizard to answer questions and solve tasks. Iteratively make your business model better.</p>
            </div>

            <div class="feature span6">
                <div><img src="/assets/icon-time.png" alt="" /></div>
                <h3>Track your progress</h3>
                <p>Manage your work, money and potential risks. Speed up your business development. Track and report your progress to your stakeholders. </p>
            </div>

            <div class="feature span6">
                <div><img src="/assets/icon-infinity-loop.png" alt="" /></div>
                <h3>Lean startup methodology</h3>
                <p>Quickly get to product-market fit. Spend less money on building and running your startup. Improve your changes of getting to success by eliminating waste.
</p>
            </div>

            <div class="feature span6">
                <div><img src="/assets/icon-gift-box.png" alt="" /></div>
                <h3>Launch your prototype</h3>
                <p>
                Launch your prototype and use the collective intelligence in our community forums to get advices, feedback and maybe even your first clients.
            </div>



            <div class="feature span6">
                <div><img src="/assets/icon-pensils.png" alt="" /></div>
                <h3>Learn from others</h3>
                <p>Do interviews and surveys to learn from potential customers. Improve your market research efforts. Use the collective intelligence in our community forums to get advices and feedback.</p>
            </div>

            <div class="feature span6">
                <div><img src="/assets/icon-compas.png" alt="" /></div>
                <h3>Find partners</h3>
                <p>Suggest your idea or a project to find like-minded members who complement your skills. Discover other cool projects to join or just compare them with your project.</p>
            </div>




        </div>
    </div>
</section>

<section id="features" class="">
    <div class="banner">
        <ul style="">
            <li class="slide slide1">
                <h1>Use founder's checklist</h1>
                <p>Plan and validate your business idea better. Use the wizard to answer questions and solve tasks.</p>
                <img src="/assets/startupality-features-1.png" class="slideUp fi-1" alt="" />
            </li>

            <li class="slide slide2">
                <h1>Speed up your business development</h1>
                <p>Use a kanban board. Split tasks in 4 columns. Iteratively make your business model better..</p>
                <img src="/assets/startupality-tasks.png" class="slideUp fi-1" alt="" />
            </li>

            <!--<li class="slide slide3">-->
                <!--<h1>Wow your audience.</h1>-->
                <!--<p>Proin ut quam eros. Donec sed lobortis diam. Nulla nec odio lacus.</p>-->
                <!--<img src="/assets/features-img3.png" class="slideUp fi-1" alt="" />-->
            <!--</li>-->

        </ul>

        <div class="unslider-arrow-container">
            <a class="unslider-arrow prev"><span aria-hidden="true" class="icon-angle-left"></span></a>
            <a class="unslider-arrow next"><span aria-hidden="true" class="icon-angle-right"></span></a>
        </div>

    </div>
</section>

<section id="testimonials" class="padding lightest window">
    <div class="container">
        <div class="row text-center">

            <div class="span12">
                <h1>Customers</h1>
            </div>

            <div class="span4">
<blockquote class="twitter-tweet"><p>&quot;What we care about in the innovation community is growth that is driven by customers and creating value for them.&quot; <a href="http://t.co/iGx0l3mhVQ">http://t.co/iGx0l3mhVQ</a></p>&mdash; The Lean Startup (@leanstartup) <a href="https://twitter.com/leanstartup/statuses/389450708753604608">October 13, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="span4">
<blockquote class="twitter-tweet"><p>&quot;What we care about in the innovation community is growth that is driven by customers and creating value for them.&quot; <a href="http://t.co/iGx0l3mhVQ">http://t.co/iGx0l3mhVQ</a></p>&mdash; The Lean Startup (@leanstartup) <a href="https://twitter.com/leanstartup/statuses/389450708753604608">October 13, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

            <div class="span4">
<blockquote class="twitter-tweet"><p>How Cooking Made Me a Better <a href="https://twitter.com/search?q=%23LeanStartup&amp;src=hash">#LeanStartup</a> practitioner <a href="http://t.co/7SmLZff3VA">http://t.co/7SmLZff3VA</a></p>&mdash; Ash Maurya (@ashmaurya) <a href="https://twitter.com/ashmaurya/statuses/388152083452801024">October 10, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>


        </div>
    </div>
</section>

<section id="clients" class="text-center">
    <div class="container">
<div class="row">

          <div class="span4 clients" style="background-image: url(/assets/startups/AppLabs.png);">
            <a href="http://www.appointmentlabs.com/" target="_blank">Startup 1</a>
          </div>

          <div class="span4 clients" style="background-image: url(/assets/startups/Sizem.png);">
            <a href="http://www.sizemapp.com/en/" target="_blank">Startup x</a>
          </div>

          <div class="span4 clients" style="background-image: url(/assets/startups/madbarz.png);">
            <a href="http://www.madbarz.com/" target="_blank">Startup x</a>
          </div>

          <div class="span4 clients" style="background-image: url(/assets/startups/agroNode.png);">
            <a href="http://agronode.com/" target="_blank">Startup x</a>
          </div>

          <div class="span4 clients" style="background-image: url(/assets/startups/publiconn.jpg);">
            <a href="http://www.publiconn.com/" target="_blank">Startup x</a>
          </div>

          <div class="span4 clients" style="background-image: url(/assets/startups/SportInTime.png);">
            <a href="http://sportinti.me/" target="_blank">Startup x</a>
          </div>

        </div>
    </div>
</section>

<!--<section id="pricing" class="white padding text-center">-->
    <!--<div class="container">-->
        <!--<div class="row">-->

            <!--<div class="span12">-->
                <!--<h1>Pricing</h1>-->
            <!--</div>-->

            <!--<div class="plans">-->
                <!--<div class="plan span6">-->
                    <!--<div class="plan-title">-->
                        <!--<h2>Beginner<br /><span>Starter Plan</span></h2>-->
                        <!--<div class="hidden-tablet hidden-ie"><input type="text" value="25" class="dial pull-right" data-thickness=".2" data-readOnly="true" data-width="75" data-height="75" data-fgColor="#f24d35"></div>-->
                    <!--</div>-->

                    <!--<ul class="plan-features">-->
                        <!--<li><strong>1</strong> user</li>-->
                        <!--<li><strong>5</strong> projects</li>-->
                        <!--<li><strong>2GB</strong> storage</li>-->
                    <!--</ul>-->
                    <!--<div class="plan-cta">-->
                        <!--<p class="plan-price pull-left">$9<span>/mo</span></p>-->
                        <!--<p class="plan-buy pull-right"><a href="index.html" class="btn">Select plan</a></p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="plan large span6">-->
                    <!--<div class="plan-title">-->
                        <!--<h2>Value<br /><span>Power Plan</span></h2>-->
                        <!--<div class="hidden-tablet hidden-ie"><input type="text" value="75" class="dial pull-right" data-thickness=".2" data-readOnly="true" data-width="75" data-height="75" data-fgColor="#e67e22" data-skin="tron"></div>-->
                    <!--</div>-->
                    <!--<ul class="plan-features">-->
                        <!--<li><strong>10</strong> users</li>-->
                        <!--<li><strong>20</strong> projects</li>-->
                        <!--<li><strong>30GB</strong> storage</li>-->
                    <!--</ul>-->
                    <!--<div class="plan-cta">-->
                        <!--<p class="plan-price pull-left">$29<span>/mo</span></p>-->
                        <!--<p class="plan-buy pull-right"><a href="index.html" class="btn">Select plan</a></p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="plan span4">-->
                    <!--<div class="plan-title">-->
                        <!--<h2>Enterprise<br /><span>All Included Plan</span></h2>-->
                        <!--<div class="hidden-tablet hidden-ie"><input type="text" value="100" class="dial pull-right" data-thickness=".2" data-readOnly="true" data-width="75" data-height="75" data-fgColor="#2ecc71" data-skin="tron"></div>-->
                    <!--</div>-->
                    <!--<ul class="plan-features">-->
                        <!--<li><strong>Unlimited</strong> users</li>-->
                        <!--<li><strong>Unlimited</strong> projects</li>-->
                        <!--<li><strong>Unlimited</strong> storage</li>-->
                    <!--</ul>-->
                    <!--<div class="plan-cta">-->
                        <!--<p class="plan-price pull-left">$49<span>/mo</span></p>-->
                        <!--<p class="plan-buy pull-right"><a href="index.html" class="btn">Select plan</a></p>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<section id="footer-cta" class="color bottom padding-mini">
    <div class="container">
        <div class="row">
            <div class="circle"><span aria-hidden="true" class="icon-like"></span></div>

            <div class="span12 try-now">
                <h1>Why not give it a try, it is <span class="colorHighlight1">free</span> for early adopters.</h1>
                <a href="#signup-form" class="modal-form btn btn-large cta">Try it out</a>
            </div>

            <div class="span8 chat">
                <h3>Need to chat?</h3>
                <span class="fs1 icomoon-comment" aria-hidden="true"><a href="mailto:team@startupality.com">team@startupality.com</a>&nbsp;&nbsp;</span>
                <!--<span class="fs1 icomoon-phone-2" aria-hidden="true">+1 (234) 5678 901</span>-->
            </div>

            <div class="span4 social">
                <a href="http://www.facebook.com/startupality" target="_blank"><img src="/assets/icon-facebook.png" alt="" /></a>
                <a href="https://twitter.com/startupality" target="_blank"><img src="/assets/icon-twitter.png" alt="" /></a>
                <!--<a href="#" target="_blank"><img src="/assets/icon-vimeo.png" alt="" /></a>-->
            </div>

        </div>
    </div>
</section>

<footer id="footer" class="padding">
    <div class="container">
        <div class="row">

            <div class="span6">
            </div>

            <div class="span6 text-right">
                <nav>
                    <a href="http://blog.startupality.com/" target="_blank">Blog</a>
                    <!--<a href="#newsletter-modal" class="modal-form">Newsletter</a>-->
                    <a href="#privacy-modal" class="modal-form">Privacy</a>
                </nav>
            </div>
        </div>
    </div>
</footer>


<!-- ADD MAILCHIMP INTEGRATION CODE HERE -->
<form id="newsletter-modal" class="mfp-hide white-popup-block zoom-anim-dialog validate" action="http://quriocityapp.us2.list-manage.com/subscribe/post?u=ca387a961456870f8bfeb1559&amp;id=2300f150a3" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <h2>Subscribe to our mailing list</h2>
    <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email address">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
    </div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
</form>

<!-- PRIVACY MODAL -->
<div id="privacy-modal" class="mfp-hide white-popup-block zoom-anim-dialog">
    <h2>Privacy Policy</h2>
<p>At www.startupality.com we consider the privacy of our visitors to be extremely important. This privacy policy document describes in detail the types of personal information is collected and recorded by www.startupality.com and how we use it. </p><p> <b>Log Files</b><br> Like many other Web sites, www.startupality.com makes use of log files. These files merely logs visitors to the site - usually a standard procedure for hosting companies and a part of hosting services's analytics. The information inside the log files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date/time stamp, referring/exit pages, and possibly the number of clicks. This information is used to analyze trends, administer the site, track user's movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable. </p>
<p> <b>Cookies and Web Beacons</b><br>www.startupality.com uses cookies to store information about visitors' preferences, to record user-specific information on which pages the site visitor accesses or visits, and to personalize or customize our web page content based upon visitors' browser type or other information that the visitor sends via their browser. </p>
<p><b>DoubleClick DART Cookie</b><br>

&rarr; Google, as a third party vendor, uses cookies to serve ads on www.startupality.com.<br>
&rarr; Google's use of the DART cookie enables it to serve ads to our site's visitors based upon their visit to www.startupality.com and other sites on the Internet. <br>
&rarr; Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL - <a href="http://www.google.com/privacy_ads.html" title="Opt out of the Dart Cookie">http://www.google.com/privacy_ads.html</a> </p>

<p><strong>Children's Information</strong><br />We believe it is important to provide added protection for children online. We encourage parents and guardians to spend time online with their children to observe, participate in and/or monitor and guide their online activity.
www.startupality.com does not knowingly collect any personally identifiable information from children under the age of 13.  If a parent or guardian believes that www.startupality.com has in its database the personally-identifiable information of a child under the age of 13, please contact us immediately (using the contact in the first paragraph) and we will use our best efforts to promptly remove such information from our records.

<p>
<b>Online Privacy Policy Only</b><br />
This privacy policy applies only to our online activities and is valid for visitors to our website and regarding information shared and/or collected there.
This policy does not apply to any information collected offline or via channels other than this website.</p>
<p><b>Consent</b><br />
By using our website, you hereby consent to our privacy policy and agree to its terms.
</p><br /><br />
</div>

<div id="login-form" class="mfp-hide white-popup-block zoom-anim-dialog user-form">
<h2>Login to your account</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="input email required user_email">
  <label class="">Email</label>
  <input autofocus="autofocus" class="string email required" id="user_email" maxlength="255" name="user[email]" required="required" size="50" type="email" value="">
  </div>

    <!--<%= f.input :email, :required => false, :autofocus => true %>-->
    <%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
    <%= f.button :submit, "Sign in" , :class => 'submit btn cta'%>
    <% end %>

<%= render "devise/shared/links" %>
</div>

<div id="signup-form" class="mfp-hide white-popup-block zoom-anim-dialog user-form">
<h2>Sign up for an account</h2>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

    <div class="input email required user_email">
    <label class="required" for="user_email"> Email</label>
    <input autofocus="autofocus" class="string email required" id="user_email" maxlength="255" name="user[email]" required="required" size="50" type="email" value="">
    </div>

    <!--<%= f.input :email, :required => true, :autofocus => true %>-->
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <!--<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>-->
    <%= f.button :submit, "Sign up" , :class => 'submit btn cta'%>

<% end %>

<%= render "devise/shared/links" %>
</div>



<!-- Placed at the end of the document so the pages load faster -->

<%= javascript_include_tag "landingpage" %>


<!--<script type="text/javascript" src="http://use.typekit.net/ump8und.js">-->
<!--</script>-->
<!--<script type = "text/javascript" >-->
//    try {
//    Typekit.load();
//} catch (e) {
//}
<!--</script>-->
<!-- PRELOADER -->
<script type="text/javascript">
// <![CDATA[
$(window).load(function() { $("#preloader").fadeOut("fast"); })
// ]]>
</script>

<% if Rails.env.production? %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-38077037-2', 'startupality.com');
        ga('send', 'pageview');

//        (function() {
//            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
//            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
//            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
//        })();

        $('body').on('click', '.LR-sign-up-submit', function(){
            if ($(".button.submit.btn.cta").val()){
                ga('send', 'event', 'Signup', 'Mvp');
            }
        });
    </script>
<% else %>
    <script></script>
<% end %>

</body>
</html>
