<!DOCTYPE html>
<html>
<head>
    <title>Startupality</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <!--[if lte IE 8]><script src="assets/lib/angular-ui-ieshiv.js"></script><![endif]-->
    <%= csrf_meta_tags %> <!--prevent cross-site scripting-->

</head>
<%= yield :header %>
<body id="<%= '%s_%s' % [controller_name, action_name] %>">
<%= yield %>
</body>
<%= yield :footer %>
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
            _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//v2.zopim.com/?1LINpf4UTev2ZitOdSvB24z7ruiVUHzJ';z.t=+new Date;$.
                type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->


</html>

