<!DOCTYPE html>
<html>
<head>
    <title>Startupality</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <!--[if lte IE 8]><script src="assets/angular-ui-ieshiv.js"></script><![endif]-->
    <%= csrf_meta_tags %> <!--prevent cross-site scripting-->

</head>
<%= yield :header %>
<body id="<%= '%s_%s' % [controller_name, action_name] %>">
<%= yield %>
</body>
<%= yield :footer %>

<% if Rails.env.production? %>
    <script id="_webengage_script_tag" type="text/javascript">
        var _weq = _weq || {};
        _weq['webengage.licenseCode'] = '~134105c81';
        _weq['webengage.widgetVersion'] = "4.0";

        (function(d){
            var _we = d.createElement('script');
            _we.type = 'text/javascript';
            _we.async = true;
            _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
            var _sNode = d.getElementById('_webengage_script_tag');
            _sNode.parentNode.insertBefore(_we, _sNode);
        })(document);
    </script>

<% else %>
    <script id="_webengage_script_tag" type="text/javascript">
        var _weq = _weq || {};
        _weq['webengage.licenseCode'] = '~10a5cb7cd';
        _weq['webengage.widgetVersion'] = "4.0";

        (function(d){
            var _we = d.createElement('script');
            _we.type = 'text/javascript';
            _we.async = true;
            _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
            var _sNode = d.getElementById('_webengage_script_tag');
            _sNode.parentNode.insertBefore(_we, _sNode);
        })(document);
    </script>

<% end %>




</html>

